
body {
    background-color: #414833;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

h3 {
    margin-top: 0;
}

p {
    font-size: 30px;
    margin-top: 15px;
}

