

div {
    /* background-color: brown; */
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    outline: 1px black solid;
    font-size: 25px;
}

body {
    background-color: #414833;
} 